[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "emoji>=2.15.0",
    "fastapi[standard]>=0.121.3",
    "python-dotenv>=1.2.1",
    "supabase>=2.24.0",
    "uvicorn[standard]>=0.38.0",
]
